.bodyDiv {
    height: 100vh;
}
.bodyContainer {
    margin-top: 50px !important;
}
.row .col {
    padding: 0px !important;
}
.tabs a {
    color: #64b5f6;
    font-weight: bold;
    font-size: 18px;
}
.tabs .active {
    background: inherit !important;
}